:host {
    --slds-c-card-color-background: rgb(246, 246, 246);
    --slds-c-card-body-spacing-block-end: 0;
    --slds-c-card-footer-spacing-block-end: 0px;
    --slds-c-card-footer-spacing-block-start: 0px;
    --slds-c-card-footer-spacing-inline-end: 0px;
    --slds-c-card-footer-spacing-inline-start: 0px;
    --slds-c-badge-icon-color-foreground: red;
}

.main-card {
    display: block;
    margin-bottom: 0px;
}

.table {
    background-color: white;
    margin-top: 2px;
}